matplotlib>=3.1.1
numpy==1.17.4
opencv-python==4.1.1.26
scipy==1.3.1
tqdm==4.32.1
scikit-learn==0.21.0
progressbar==2.5
pillow>=6.2.0
motmetrics==1.1.3
path.py==12.0.1
ortools>=7.4.7247
torch>=1.3.1
torchvision>=0.4.2


